/*!
 * Timeline source thanks to:
 * http://codepen.io/betdream/pen/Ifvbi/
 */
.timeline {
  list-style: none;
  padding: 20px 0 20px 0;
  position: relative;
}

.timeline:before {
  background-color: #eeeeee;
  content: "";  
  position: absolute;
  margin-left: -1.5px;
  top: 0;
  left: 50px;
  bottom: 0;
  width: 3px;
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  top: 15px;
  left: 50px;
  margin-right: 50px;
  max-width: 350px;
  float: none;
  border: 1px solid #d4d4d4;

  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: -21px;
  display: inline-block;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 21px solid #ccc;
  content: "";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: -20px;
  display: inline-block;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 21px solid #fff;
  content: "";
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-body br {
  margin-bottom: 15px;
}