<!-- Navigation Top -->
    <nav class="navbar navbar-inverse navbar-fixed-top self-color">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            
            {% if page.language == 'en' %}
              <span class="sr-only">Change language</span>
            {% elsif page.language == 'pl-PL' %}
              <span class="sr-only">Zmiana języka</span>
            {% endif %}
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          {% if page.language == 'en' %}
            <a class="navbar-brand" href="../">Music for Your Wedding</a>
          {% elsif page.language == 'pl-PL' %}
            <a class="navbar-brand" href="../">Muzyka na Twoim Ślubie</a>
          {% endif %}
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% case page.title %}
              {% when 'Oferta' %}
                <li class="self-active"><a class="page-scroll" href="#">Oferta</a></li>
                <li><a href="/pl-pl/variants.html">Warianty</a></li>
                <li><a href="/pl-pl/performances.html">Występy</a></li>
                <li><a href="/pl-pl/achievements.html">Doświadczenie</a></li>
                <li><a href="/pl-pl/contact.html">Kontakt</a></li>    

              {% when 'Warianty' %}
                <li class="self-highlight"><a href="/pl-pl/services.html">Oferta</a></li>
                <li class="self-active"><a class="page-scroll" href="#">Warianty</a></li>
                <li><a href="/pl-pl/performances.html">Występy</a></li>
                <li><a href="/pl-pl/achievements.html">Doświadczenie</a></li>
                <li><a href="/pl-pl/contact.html">Kontakt</a></li>

              {% when 'Występy' %}
                <li class="self-highlight"><a href="/pl-pl/services.html">Oferta</a></li>
                <li><a href="/pl-pl/variants.html">Warianty</a></li>
                <li class="self-active"><a href="#">Występy</a></li>
                <li><a href="/pl-pl/achievements.html">Doświadczenie</a></li>
                <li><a href="/pl-pl/contact.html">Kontakt</a></li>

              {% when 'Doświadczenie' %}
                <li class="self-highlight"><a href="/pl-pl/services.html">Oferta</a></li>
                <li><a href="/pl-pl/variants.html">Warianty</a></li>
                <li><a href="/pl-pl/performances.html">Występy</a></li>
                <li class="self-active"><a href="#">Doświadczenie</a></li>
                <li><a href="/pl-pl/contact.html">Kontakt</a></li>

              {% when 'Kontakt' %}
                <li class="self-highlight"><a href="/pl-pl/services.html">Oferta</a></li>
                <li><a href="/pl-pl/variants.html">Warianty</a></li>
                <li><a href="/pl-pl/performances.html">Występy</a></li>
                <li><a href="/pl-pl/achievements.html">Doświadczenie</a></li>
                <li class="self-active"><a href="#">Kontakt</a></li>
              {% when 'Offer' %}
                <li class="self-active"><a class="page-scroll" href="#">Offer</a></li>
                <li><a href="/en/variants.html">Options</a></li>
                <li><a href="/en/performances.html">Performances</a></li>
                <li><a href="/en/achievements.html">Achievements</a></li>
                <li><a href="/en/contact.html">Contact</a></li>    

              {% when 'Options' %}
				<li class="self-highlight"><a href="/en/services.html">Offer</a></li>
                <li class="self-active"><a class="page-scroll" href="#">Options</a></li>
                <li><a href="/en/performances.html">Performances</a></li>
                <li><a href="/en/achievements.html">Achievements</a></li>
                <li><a href="/en/contact.html">Contact</a></li>
                
              {% when 'Performances' %}
				<li class="self-highlight"><a href="/en/services.html">Offer</a></li>
                <li><a href="/en/variants.html">Options</a></li>
                <li class="self-active"><a href="#">Performances</a></li>
                <li><a href="/en/achievements.html">Achievements</a></li>
                <li><a href="/en/contact.html">Contact</a></li>
              
              {% when 'Achievements' %}
				<li class="self-highlight"><a href="/en/services.html">Offer</a></li>
                <li><a href="/en/variants.html">Options</a></li>
                <li><a href="/en/performances.html">Performances</a></li>
                <li class="self-active"><a href="#">Achievements</a></li>
                <li><a href="/en/contact.html">Contact</a></li>

              {% when 'Contact' %}
				<li class="self-highlight"><a href="/en/services.html">Offer</a></li>
                <li><a href="/en/variants.html">Options</a></li>
                <li><a href="/en/performances.html">Performances</a></li>
                <li><a href="/en/achievements.html">Achievements</a></li>
                <li class="self-active"><a href="#">Contact</a></li>
            {% endcase %}
            
            {% if page.language == 'en' %}
            <li><a href="http://blog.harfistka.eu.pl/{{ page.language | downcase }}/">My Blog</a></li>
          {% elsif page.language == 'pl-PL' %}
            <li><a href="http://blog.harfistka.eu.pl/{{ page.language | downcase }}/">Mój Blog</a></li>
          {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>