<!-- Styles -->
          <style type="text/css">
            .credential h1 {
              font-weight: 800;
              font-size: 30px;
            }
            .credential h2 {
              font-size: 20px;
            }
            .credential hr {
              width: 250px;
              margin-left: 0;
            }
            .credential p {
              text-align: left;  
            }
            @media screen and (max-width: 400px) {
              .credential h1 {
                font-size: 24px;
              }
              .credential h2 {
                font-size: 15px;
              }
              .credential hr {
                width: 195px;
                margin-left: 0;
              }
            }       
          </style>